Alla testfall testades manuellt i test/testApp
| Testfall | Resultat |
|----------|----------|
| TC 1     | OK       |
| TC 1.1     | OK       |
| TC 2     | OK       |
| TC 2.1     | OK       |
| TC 2.2     | OK       |
| TC 3     | OK       |
| TC 4     | OK       |
| TC 5     | OK       |
| TC 6     | OK       |
| TC 7    | OK       |
